.btn-primary {
  background-color: #8174A0;
  border: #FFD2A0;
}

.btn-primary:hover {
  background-color: #6d6187;
  border-color: #FFD2A0;
}

.btn-outline-secondary {
  border-color: black;
  color: black;
}

.btn-outline-secondary:hover {
  background-color: #7fcb70;
}

.disabled-link:hover {
  color: #FFD2A0;
}