@import url('https://fonts.googleapis.com/css2?family=Nova+Slim&family=Silkscreen:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nova Slim", Verdana, sans-serif;
}

body {
  background-image: linear-gradient(#8174A0, #A888B5, #EFB6C8, #FFD2A0 );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.nav-link {
  color: #FFD2A0;
}

.nav-link:hover {
  color: aquamarine;
}

.btn-primary {
  background-color: #8174A0;
  border: #FFD2A0;
}

.btn-primary:hover {
  background-color: #6d6187;
  border-color: #FFD2A0;
}

.btn-outline-secondary {
  border-color: black;
  color: black;
}

.btn-outline-secondary:hover {
  background-color: #7fcb70;
}